################################################################
#                                                              #
#       PROJECT:    PICARA PHP WEB DEVELOPMENT FRAMEWORK       #
#       WEBSITE:    https://git.io/Je8zR                       #
#       COPYRIGHT:  Arturo Lopez Perez                         #
#       AUTHOR:     Arturo Lopez Perez                         #
#       LICENSE:    MIT License                                #
#                                                              #
################################################################
#                                                              #
# This document outlines the files that git should ignore.     #
# Some folders need to be created so an empty .gitkeep file    #    
# has been created inside them, but everything inside that     #
# folder is to be ignored.                                     #
#                                                              #
# This way all the dir structure is created on pull requests.  #
#                                                              #
################################################################

# MacOsX Files
.DS_Store
**/.DS_Store

# Vim swp files
.swp
**/*.swp

# Log files
**/*.log

# Old and new files
**/*.old
**/*.new

# Ignore
locales/en/.gitkeep
locales/es/.gitkeep

# Ignore the user application
# The app folder should be another git project
app/html/cache/*
!app/html/cache/.gitkeep

# Cache
resources/cache/*
!resources/cache/.gitkeep

# Temp files
resources/tmp/layout/*
resources/tmp/view/*
!resources/tmp/layout/.gitkeep
!resources/tmp/view/.gitkeep

# Model images and files
htdocs/assets/model_files/*
!htdocs/assets/model_files/.gitkeep
